<div id="dash">
  <% if (currentLesson.isCompleted) { %>
    <div class="note">
      <div class="padding">
        You have completed this lesson.
      </div>
    </div>
  <% } %>
  <div id="lesson" class="noselect">
    <h2><strong>Lesson <%-currentLesson.number%> - </strong> <%-currentLesson.name%></h2>
  </div>
  <div id="lefttriangle"></div>

  <div id="selection" class="right noselect">
    <% if (currentLesson.number > 1) { %>
      <a href="/dashboard/<%-(currentLesson.number - 1)%>">previous lesson</a> |
    <% } %>
    <% if (currentLesson.number < 15) { %>
      <a href="/dashboard/<%-(currentLesson.number + 1)%>">next lesson</a>
    <% } %>
  </div>
  <div class="clear"></div>

  <div id="introduction">
    <div class="intropadding">
      <h2>Introduction</h2>
      <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/intro.ejs')%>
    </div>
  </div>

  <% var n = currentLesson.number; %>
  <div class="thirds left first">
    <h1>Learn</h1>
    <ul class="nolist">
      <% if (currentLesson.videos.length > 0) { %>
        <% for (var j = 0; j < currentLesson.videos.length; j += 1) { var video = currentLesson.videos[j]; %>
          <a href="/webcast/<%-n%>/<%-j%>">
          <li class="<% if (video.isCompleted) { %>completed<% } else { %>incomplete<% } %>">
            <%-video.name%>
          </li></a>
          <% } %>
      <% } %>
      <% if (currentLesson.readings.length > 0) { %>
        <% for (var k = 0; k < currentLesson.readings.length; k += 1) { var reading = currentLesson.readings[k]; %>
          <% if (reading.SICP) { %>
            <a href="http://<%-reading.location%>" target="_blank">
          <% } else { %>
            <a href="/reading/<%-n%>/<%-k%>">
          <% } %>
          <li class="<% if (reading.isCompleted) { %>completed<% } else { %>incomplete<% } %>">
            <%-reading.name%>
          </li></a>
        <% } %>
      <% } %>
    </ul>
  </div>
  <div class="thirds left">
    <h1>Practice</h1>
    <ul class="nolist">
      <% if (currentLesson.homework) { %> <a href="/homework/<%-n%>">
      <li class="<% if (currentLesson.homework.isCompleted) { %>completed<% } else { %>incomplete<% } %>">
        <%-currentLesson.homework.name%>
      </li></a>
      <% } %>
      <% for (var o = 0; o < currentUnit.projects.length; o += 1) { var project = currentUnit.projects[o]; %>
        <% if (currentLesson.number >= project.projectLessonNumber) { %>
        <a href="/project/<%-n%>/<%-o%>">
          <li class="<% if (project.isCompleted) { %>completed<% } else { %>incomplete<% } %>">
              <%-project.name%>
          </li>
        </a>
        <% } %>
      <% } %>
    </ul>
  </div>

  <div class="thirds left">
    <h1>Master</h1>
    <ul class="nolist">
      <% if (currentLesson.extra.length > 0) { %>
      <% for (var l = 0; l < currentLesson.extra.length; l += 1) { var extra = currentLesson.extra[l]; %>
        <a href="/extra/<%-n%>/<%-l%>">
        <li class="<% if (extra.isCompleted) { %>completed<% } else { %>incomplete<% } %>">
          <%-extra.name%>
        </li></a>
      <% } %>
      <% } else { %>
      <div class="yellownote">
        <div class="padding">
          Looks like there's no extras for this lesson.
        </div>
      </div>
      <% } %>
    </ul>
  </div>

  <div class="thirds left resources">
    <h1>Solutions</h1>
    <ul class="nolist">
      <% if (currentLesson.homework.isCompleted) { %>
        <a href="/solutions/lab/<%-n%>">
        <li class="resource">
          Lab Solution
        </li></a>
        <a href="/solutions/homework/<%-n%>">
        <li class="resource">
          <%-currentLesson.homework.name%>
        </li></a>
      <% } else { %>
        <li class="bnote">
          Solutions for the assignments will appear here when you finish it!
        </li>
      <% } %>
      <% for (var i = 0; i < currentLesson.extra.length; i += 1) { var extra = currentLesson.extra[i]; %>
        <% if (extra.isCompleted) { %>
          <a href="/solutions/extra/<%-currentLesson.number%>/<%-i%>">
          <li class="resource">
            <%-extra.name%>
          </li></a>
        <% } %>
      <% } %>
      <% for (var i = 0; i < currentUnit.projects.length; i += 1) { var project = currentUnit.projects[i]; %>
        <% if (currentLesson.number >= project.projectLessonNumber) { %>
          <% if (project.isCompleted) { %>
            <a href="/solutions/project/<%-currentLesson.number%>/<%-i%>">
            <li class="resource">
              <%-project.name%>
            </li></a>
          <% } %>
        <% } %>
      <% } %>
    </ul>
  </div>
  <div class="clear"></div>
  <br>

  <% if (news.length > 0) { %>
    <div class="otherflag noselect">
      <h2>Announcements</h2>
    </div>
    <div class="triangle"></div>
    <div class="clear"></div>
    <% for (var i = 0; i < news.length; i += 1) { var article = news[i];%>
      <div class="announcement">
        <h3><%-article.title%></h3>
        <div class="morepadding">
          <%-article.content%>
        </div>
        <h4>Last Updated: <%-article.date.toLocaleString()%></h4>
      </div>
    <% } %>
    <% if (news.length > 3) { %>
      <a href="/announcements">(View All Announcements)</a>
    <% } %>
  <% } %>
</div>
