<!-- TODO: Switch between lessons other than currentLesson on dashboard. Check completedness of each section for class="completed" li elements. -->
<div id="dash">
  <% if (currentLesson.isCompleted) { %>
    <div class="note"><div class="padding">You have completed this lesson.</div></div>
  <% } %>

  <div id="lesson" class="noselect">
    <h2><strong><%-currentLesson.number%> - </strong> <%-currentLesson.name%></h2>
  </div>
  <div id="lefttriangle"></div>
  
  <div class="clear"></div>
  <% var n = currentLesson.number; %>
  <div class="thirds left">
    <h1>Learn</h1>
    <ul class="nolist">
          <% if (currentLesson.videos.length > 0) { %>
              <% for (var j = 0; j < currentLesson.videos.length; j += 1) { var video = currentLesson.videos[j]; %>
                <a href="/webcast/<%-n%>/<%-j%>"><li class="<% if (video.isCompleted) { %>completed<% } else { %>incomplete<% } %>">Webcast <%-(j + 1)%></li></a>
              <% } %>
          <% } %>
          
          <% if (currentLesson.readings.length > 0) { %>
              <% for (var k = 0; k < currentLesson.readings.length; k += 1) { var reading = currentLesson.readings[k]; %>
                <a href="/reading/<%-n%>/<%-k%>"><li class="<% if (reading.isCompleted) { %>completed<% } else { %>incomplete<% } %>"><%-reading.name%></li></a>
              <% } %>
          <% } %>
          
    </ul>
  </div>
  <div class="thirds left">
    <h1>Practice</h1>
      <ul class="nolist">
          <% if (currentLesson.assignments.length > 0) { %>
              <% if (currentLesson.homework) { %>
                <a href="/homework/<%-n%>"><li class="<% if (currentLesson.homework.isCompleted) { %>completed<% } else { %>incomplete<% } %>">Homework</li></a>
              <% } %>
              <% if (currentLesson.project) { %>
                <a href="/project/<%-n%>"><li class="<% if (currentLesson.project.isCompleted) { %>completed<% } else { %>incomplete<% } %>">Project</li></a>
              <% } %>
          <% } else { %>
            <div class="yellownote"> 
              <div class="padding">
                Looks like there's no assignments for this lesson.
              </div>
            </div>
          <% } %>
          
    </ul>
  </div>
  <div class="thirds left">
    <h1>Master</h1>
    <ul class="nolist">
          <% if (currentLesson.extra.length > 0) { %>
              <% for (var l = 0; l < currentLesson.extra.length; l += 1) { var extra = currentLesson.extra[l]; %>
                <a href="/extra/<%-n%>/<%-j%>"><li class="<% if (extra.isCompleted) { %>completed<% } else { %>incomplete<% } %>"><%-extra.name%></li></a>
              <% } %>
          <% } else { %>
            <div class="yellownote"> 
              <div class="padding">
                Looks like there's no extras for this lesson.
              </div>
            </div>
          <% } %>
  
    </ul>
  </div>
  
  <div class="thirds left">
    <h1>Resources</h1>
    <ul class="nolist">
      <a href="/grades"><li class="resource">Grades</li></a>
      <a href="/administration"><li class="resource">Administration</li></a>
      <a href="/#"><li class="resource">Feedback</li></a>
    </ul>
  </div>
  
  <div class="clear"></div>
  
<br>
<% if (news.length > 0) { %>
  <div class="otherflag noselect">
    <h2>Announcements</h2>
  </div>
  <div class="triangle"></div>
  <div class="clear"></div>
  <% for (var i = 0; i < news.length; i += 1) { var article = news[i];%>
    <div class="announcement">
      <h3><%-article.title%></h3>
      
    <div class="morepadding">
      <%-article.content%>
    </div>
    <h4>Posted: <%-article.date%></h4>
    </div>
  <% } %>
<% } %>
</div>
