<div id="centered">
  <div id="lesson" class="noselect">
    <h2>Grades for user: <strong><%-currentUser.username%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <div class="gradebox">
      <h3>You have <%-currentUser.grades.length %> grades in total</h3>
      <% currentUser.grades.sort(function(a,b){ return a.order - b.order; })
        for (var i = 0; i < currentUser.grades.length; i += 1) { var grade = currentUser.grades[i]; var color = 'yellow';%>
        <% if (grade.grade >= 90) { color = 'green'; } %>
        <% if (grade.grade < 75) { color = 'red'; } %>
        <span class="left displayboxyleft displaymargin"><%-grade.name %></span>
        <span class="right displayboxyright displaymargin <%-color%>"><%-grade.grade %></span>
      <% } %> <div class="clear"></div>
    </div>
  </div>
</div>