<div id="nocenter">
  <% if (currentLesson.homework) { %>
  <div id="lesson">
    <h2>Homework <%-currentLesson.number + ': ' + currentLesson.homework.name%></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <% if (currentLesson.homework.isCompleted) {%>
      <div class="note">
        <div class="padding">
          You have completed this homework. Solutions are now available at bottom of this page and on your dashboard.
        </div>
      </div>
    <% } %>
    <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/lab.ejs')%>
    <div class="note">
      <div class="padding">
        You should complete at least to this part.
      </div>
    </div>
    <hr />
    <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/hw.ejs')%>
    <br><br>
    <% if (showControls) { %>
      <% if (!currentLesson.homework.isCompleted) {%>
      <div class="rednote">
        <div class="padding">
          <form method="post" action="/homework/<%-currentLesson.number%>">
            <input type="checkbox" name="confirm"></input> I understand that by checking this box and clicking the button below I hereby acknowledge that my reader will grade my most recently submitted version of this homework.
            <br>
            <button class="mark">
              I am ready to be graded
            </button>
          </form>
        </div>
      </div>
      <% } else { %>
      <hr />
      <br>
      <div id="solution">
        <h3 class="noselect">View Lab Solutions</h3>
        <div class="wrapper">
          <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/lab-solutions.ejs')%>
        </div>
        <h3 class="noselect">View Homework Solutions</h3>
        <div class="wrapper">
          <%-partial('cs61as/unit' + currentLesson.unit.number + '/' + currentLesson.number + '/hw-solutions.ejs')%>
        </div>
      </div>
      <% } %>
    <% } %>
  </div>
  <% } else { %>
  <p>
    Homework for this lesson does not exist.
    <br/>
    TODO: each lesson should have one homework.
  </p>
  <%}%>
</div>
