<div id="content">
  <div id="lesson" class="noselect">
    <h2>Lessons</h2>
  </div>
  <div id="lefttriangle"></div>
<div class="contentpadding">
  <div id="accordion">
    <% for (var i in lessons) { lesson = lessons[i]; n = lesson.number; %>

        <h3 class="noselect"><%-n%> - <%-lesson.name%></h3>
        <div class="links">
          <% if (lesson.videos.length > 0) { %>
            <strong>Webcasts</strong>:
              <% for (var j = 0; j < lesson.videos.length; j += 1) { var vid = lesson.videos[j]; %>
                <br><span class="indent">- <a href="/webcast/id/<%-vid.url%>"><%-vid.name%></a></span>
              <% } %>
            <br>
          <% } %>
          <% if (lesson.readings.length > 0) { %>
            <strong>Readings:</strong>
              <% for (var k = 0; j < lesson.readings.length; j += 1) { var reading = lesson.readings[k]; %>
                <br><span class="indent">- <%-reading.name%></span>
              <% } %>
            <br>
          <% } %>
          <% if (lesson.assignments.length > 0) { %>
            <strong>Assignments:</strong>
              <% for (var l = 0; l < lesson.assignments.length; l += 1) { var assignment = lesson.assignments[l]; %>
                <% if (assignment.project) { %>
                  <br><span class="indent">- Project <%-n%>: <a href="/project/<%-n%>"><%-assignment.name%></a></span>
                <% } else { %>
                  <br><span class="indent">- Homework <%-n%>: <a href="/homework/<%-n%>"><%-assignment.name%></a></span>
                <% } %>
              <% } %>
            <br>
          <% } %>
        </div>
    
    <% } %>
  </div>
</div>
</div>