<div id="nocenter">
  <div id="lesson" class="noselect">
    <h2>Lessons</h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="contentpadding">
    <div id="accordion">
      <% for (var i = 0; i < lessons.length; i += 1) { var lesson = lessons[i]; var n = lesson.number; %>
        <h3 class="noselect boring" id="lesson<%-n%>">
          <%-n%> - <%-lesson.name%>
          <% if (String(currentUser.currentLesson) == String(n)) { %>
            -- (<i>you are here</i>)
          <% } %>
        </h3>
        <div class="links">
          <% if (currentUser.canAccessDashboard()) { %>
            <a href="/dashboard/<%-n%>"><strong>View on dashboard.</strong></a>
            <br>
          <% } %>
          <strong>Lesson introduction:</strong>
          <br>
          <span class="indent">- <a href="/intro/<%-n%>">Introduction.</a></span>
          <br>
          <% if (lesson.videos.length > 0) { %> <strong>Webcasts</strong>:
            <% for (var j = 0; j < lesson.videos.length; j += 1) { var vid = lesson.videos[j]; %>
              <br>
              <span class="indent">- <a href="/webcast/<%-n%>/<%-j%>"><%-vid.name%></a></span>
            <% } %>
            <br>
          <% } %>
          <% if (lesson.readings.length > 0) { %> <strong>Readings:</strong>
            <% for (var j = 0; j < lesson.readings.length; j += 1) { var reading = lesson.readings[j]; %>
              <br>
              <% if (reading.SICP) { %>
              <span class="indent">- <a href="http://<%-reading.location%>" target="_blank"><%-reading.name%></a></span>
              <% } else { %>
              <span class="indent">- <a href="/reading/<%-n%>/<%-j%>"><%-reading.name%></a></span>
              <% } %>
            <% } %>
            <br>
          <% } %>
          <strong>Assignments:</strong>
          <% if (lesson.homework) { %>
            <br>
            <span class="indent">- Homework: <a href="/homework/<%-n%>"><%-lesson.homework.name%></a></span>
          <% } %>
          <br>
          <% if (lesson.extra.length > 0) { %> <strong>Extras for Experts:</strong>
            <% for (var j = 0; j < lesson.extra.length; j += 1) { var extra = lesson.extra[j]; %>
              <br>
              <span class="indent">- <a href="/extra/<%-n%>/<%-j%>"><%-extra.name%></a></span>
            <% } %>
            <br>
          <% } %>
        </div>
        <% for (var j = 0; j < units.length; j += 1) { var unit = units[j]; %>
          <% if (lesson.unit == unit.id) {  %>
            <% for (var k = 0; k < unit.projects.length; k += 1) { var project = unit.projects[k]; %>
              <% if (String(project.projectLessonNumber) == String(n)) { %>
                <h3 class="noselect projectHeader"><%-project.name%></h3>
                <div class="links">
                  <a href="/project/<%-n%>/<%-k%>"><strong>Go to Project</strong></a>
                </div>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
</div>