<div id="nocenter">
  <% if (project) { %>
  <div id="lesson">
    <h2><%-project.name%></h2>
  </div>
  <div id="lefttriangle"></div>
  <div class="clear"></div>
  <div id="homework">
    <% if (project.isCompleted) {%>
      <div class="note">
        <div class="padding">
          You have completed this project.
        </div>
      </div>
    <% } %>
    <%-partial('cs61as/unit' + currentUnit.number + '/proj' + projectId +'.ejs')%>
    <br><br>
    <% if (showControls) { %>
      <% if (!project.isCompleted) {%>
      <div class="rednote">
        <div class="padding">
          <form method="post" action="/project/<%-currentLesson.number%>/<%-projectId%>">
            <input type="checkbox" name="confirm"></input> I understand that by checking this box and clicking the button below I hereby acknowledge that my reader will grade my most recently submitted version of this project.
            <br>
            <button class="mark">
              I am ready to be graded
            </button>
          </form>
        </div>
      </div>
      <% } else { %>
      <hr />
      <br>
      <div id="solution">
        <h3 class="noselect">View Project Solutions</h3>
        <div class="wrapper">
          <%-partial('cs61as/unit' + currentLesson.unit.number + '/proj' + projectId + '-solutions.ejs')%>
        </div>
      </div>
      <% } %>
    <% } %>
  </div>
  <% } else { %>
  <p>
    This project does not exist.
  </p>
  <%}%>
</div>