<div id="centered">
  <div class="yellownote">
    <div class="padding">
      <strong>Warning: </strong>Think twice before you click save.
      This is dangerous, and it has the potential to break the DB (no security yet).
    </div>
  </div>
  <div id="lesson" class="noselect">
    <h2>Manage Units</h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <form method="post" action="/admin/units/add">
      <div class="formbox">
        <h3>Add a new unit</h3>
        <span class="left boxy noselect" required>number</span>
        <input type="number" class="right textboxy" name='unit[number]' required >
        <br>
        <span class="left boxy noselect" required>name</span>
        <input type="text" class="right textboxy" name='unit[name]' required >
        <br>
        <span class="left boxy noselect">lessons</span>
        <select class="right selectboxy" name='unit[lessons]' multiple="multiple">
          <% for (var i = 0; i < lessons.length; i += 1) { var lesson = lessons[i] ;%>
            <option value="<%-lesson.id%>"><%-lesson.name%></option>
          <% } %>
        </select>
        <br/>
        <span class="left boxy noselect">project</span>
        <select class="right selectboxy" name='unit[project]'>
          <option value="undefined">-- No Project --</option>
          <% for (var i = 0; i < projects.length; i += 1) { var project = projects[i] ;%>
            <option value="<%-project.id%>"><%-project.name%></option>
          <% } %>
        </select>
        <br>
        <span class="left boxy noselect" required>project lesson number</span>
        <input type="number" class="right textboxy" name='unit[projectLessonNumber]' value="0" required >
        <div class="clear"></div>
      </div>
      <button class="anotherbutton" id="submitUnit">
        Save
      </button>
    </form>
    <br>
    <br>
    <div class="formbox">
      <h3>Edit a unit (<%-units.length %> total)</h3>
      <% for (var i = 0; i < units.length; i += 1) { var unit = units[i];%>
      <span class="left boxy noselect displaymargin">name: <%-unit.name%></span>
      <span class="right linkboxy displaymargin">
        <a href="/admin/units/edit/<%-unit.id%>">(edit)</a>
        <a href="/admin/units/delete/<%-unit.id%>">(delete)</a>
      </span>
      <% } %> <div class="clear"></div>
    </div>
  </div>
</div>