<div id="centered">
  <div class="yellownote">
    <div class="padding">
      <strong>Warning: </strong>Think twice before you click save.
    </div>
  </div>
  <div id="lesson" class="noselect">
    <h2>Editing lesson with ID: <strong><%-lesson.id%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <form method="post" action="/admin/lessons/edit/<%-lesson.id%>">
      <div class="formbox">
        <h3>Add a new Lesson</h3>
        <span class="left boxy noselect" required>number</span>
        <input type="number" min="0" class="right textboxy"  name='lesson[number]' value='<%-lesson.number%>' required >
        <br>
        <span class="left boxy noselect" required>name</span>
        <input type="text" class="right textboxy" name='lesson[name]' value='<%-lesson.name%>' required >
        <br>
        <span class="left boxy noselect">unit</span>
        <select class="right selectboxy" name='lesson[unit]' required >
          <% for (var i = 0; i < units.length; i += 1) { var unit = units[i] ;%>
            <% if (lesson.unit && lesson.unit == unit.id) { %>
              <option value="<%-unit.id%>" selected="selected"><%-unit.name%></option>
            <% } else { %>
              <option value="<%-unit.id%>"><%-unit.name%></option>
            <% } %>
          <% } %>
        </select>
        <br/>
        <span class="left boxy noselect">homework</span>
        <select class="right selectboxy" name='lesson[homework]' required >
          <% for (var i = 0; i < homeworks.length; i += 1) { var homework = homeworks[i] ;%>
            <% if (lesson.homework && (lesson.homework.id == homework.id)) { %>
              <option value="<%-homework.id%>" selected="selected"><%-homework.name%></option>
            <% } else { %>
              <option value="<%-homework.id%>"><%-homework.name%></option>
            <% } %>
          <% } %>
        </select>
        <br>
        <span class="left boxy selecttextboxy noselect">extra</span>
        <select class="right manyselectboxy" name='lesson[extra]' multiple="multiple">
          <% for (var i = 0; i < extras.length; i += 1) { var extra = extras[i] ;%>
            <option value="undefined">-- No Extra --</option>
            <% if (lesson.extra && lesson.extra.indexOf(extra.id) != -1) { %>
              <option value="<%-extra.id%>" selected="selected"><%-extra.name%></option>
            <% } else { %>
              <option value="<%-extra.id%>"><%-extra.name%></option>
            <% } %>
          <% } %>
        </select>
        <br>
        <span class="left boxy selecttextboxy noselect">videos</span>
        <select class="right manyselectboxy" name='lesson[videos]' multiple="multiple">
          <% for (var i = 0; i < videos.length; i += 1) { var video = videos[i] ;%>
            <option value="undefined">-- No Video --</option>
            <% if (lesson.videos && lesson.videos.indexOf(video.id) != -1) { %>
              <option value="<%-video.id%>" selected="selected"><%-video.name%></option>
            <% } else { %>
              <option value="<%-video.id%>"><%-video.name%></option>
            <% } %>
          <% } %>
        </select>
        <br>
        <span class="left boxy selecttextboxy noselect">readings</span>
        <select class="right manyselectboxy" name='lesson[readings]' multiple="multiple">
          <% for (var i = 0; i < readings.length; i += 1) { var reading = readings[i] ;%>
            <option value="undefined">-- No Reading --</option>
            <% if (lesson.readings && lesson.readings.indexOf(reading.id) != -1) { %>
              <option value="<%-reading.id%>" selected="selected"><%-reading.name%></option>
            <% } else { %>
              <option value="<%-reading.id%>"><%-reading.name%></option>
            <% } %>
          <% } %>
        </select>
        <div class="clear"></div>
      </div>
      <button class="anotherbutton" id="submitLesson">
        Save
      </button>
    </form>
  </div>
</div>