<div id="centered">
  <div class="yellownote">
    <div class="padding">
      <strong>Warning: </strong>Think twice before you click save.
      This is dangerous, and it has the potential to break the DB (no security yet).
    </div>
  </div>
  <div id="lesson" class="noselect">
    <h2>Manage Lessons</h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
  <div class="contentpadding">
    <form method="post" action="/admin/lessons/add">
      <div class="formbox">
        <h3>Add a new Lesson</h3>
        <span class="left boxy noselect" required>number</span>
        <input type="number" class="right textboxy" name='lesson[number]' required >
        <br>
        <span class="left boxy noselect" required>name</span>
        <input type="text" class="right textboxy" name='lesson[name]' required >
        <br>
        <span class="left boxy noselect">unit</span>
        <select class="right selectboxy" name='lesson[unit]' required >
          <% for (var i = 0; i < units.length; i += 1) { var unit = units[i] ;%>
            <option value="<%-unit.id%>"><%-unit.name%></option>
          <% } %>
        </select>
        <br/>
        <span class="left boxy noselect">homework</span>
        <select class="right selectboxy" name='lesson[homework]' required >
          <% for (var i = 0; i < homeworks.length; i += 1) { var homework = homeworks[i] ;%>
            <option value="<%-homework.id%>"><%-homework.name%></option>
          <% } %>
        </select>
        <br>
        <span class="left boxy noselect">project</span>
        <select class="right selectboxy" name='lesson[project]'>
          <% for (var i = 0; i < projects.length; i += 1) { var project = projects[i] ;%>
            <option value="<%-project.id%>"><%-project.name%></option>
          <% } %>
        </select>
        <br>
        <span class="left boxy noselect">extra</span>
        <select class="right selectboxy" name='lesson[extra]' multiple="multiple">
          <% for (var i = 0; i < extras.length; i += 1) { var extra = extras[i] ;%>
            <option value="<%-extra.id%>"><%-extra.name%></option>
          <% } %>
        </select>
        <br>
        <span class="left boxy noselect">videos</span>
        <select class="right selectboxy" name='lesson[videos]' multiple="multiple">
          <% for (var i = 0; i < videos.length; i += 1) { var video = videos[i] ;%>
            <option value="<%-video.id%>"><%-video.name%></option>
          <% } %>
        </select>
        <br>
        <span class="left boxy noselect">readings</span>
        <select class="right selectboxy" name='lesson[readings]' multiple="multiple">
          <% for (var i = 0; i < readings.length; i += 1) { var reading = readings[i] ;%>
            <option value="<%-reading.id%>"><%-reading.name%></option>
          <% } %>
        </select>
        <div class="clear"></div>
      </div>
      <button class="anotherbutton" id="submitLesson">
        Save
      </button>
    </form>
    <br>
    <br>
    <div class="formbox">
      <h3>Edit a lesson (<%-lessons.length %> total)</h3>
      <% for (var i = 0; i < lessons.length; i += 1) { var lesson = lessons[i];%>
      <span class="left boxy noselect displaymargin">name: <%-lesson.name%></span>
      <span class="right linkboxy displaymargin">
        <a href="/admin/lessons/edit/<%-lesson.id%>">(edit)</a>
        <a href="/admin/lessons/delete/<%-lesson.id%>">(delete)</a>
      </span>
      <% } %> <div class="clear"></div>
    </div>
  </div>
</div>