<div id="centered">
  <div class="yellownote">
  <div class="padding">
    <strong>Warning: </strong>Think twice before you click save.
    This is dangerous, and it has the potential to break the DB (no security yet).
  </div>
  </div>
 <div id="lesson" class="noselect">
    <h2>Editing user with ID: <strong><%-user.id%></strong></h2>
  </div>
  <div id="lefttriangle"></div>
  <br>
<div class="contentpadding">

  <form method="post" action="/admin/users/edit/<%-user.id%>">
  <div class="formbox">
    <span class="left boxy noselect">username</span>
    <input type="text" class="right textboxy" name='user[username]'  value='<%-user.username%>' pattern="^[a-z][a-z0-9_-]{2,31}$" title="Must start with a letter, between 3 to 32 characters, contains only a-z, 0-9, underscore, and dash." required>
    <br>
    <span class="left boxy noselect">password</span>
    <input type="text" class="right textboxy" name='user[password]'>
    <br>
    <span class="left boxy noselect">email</span>
    <input type="email" class="right textboxy" name='user[email]' value='<%-user.email%>' pattern="^[a-z](?=[\w.]{1,31}@)\w*\.?\w*@(cs\.)*berkeley.edu$" title="Must be a berkeley.edu email, start with a letter, between 2-32 characters long before the @ sign, and contains at most one dot.">
    <br>
    <span class="left boxy noselect">currentLesson</span>
    <input type="number" min="0" class="right textboxy" name='user[currentLesson]' value='<%-user.currentLesson%>' required>
    <br>
    <span class="left boxy noselect">units</span>
    <input type="number" min="2" max="5" class="right textboxy" name='user[units]' value='<%-user.units%>' required>
    <br>
    <span class="left boxy noselect">grader</span>
    <select class="right selectboxy" name='user[grader]'>
      <% for (var i = 0; i < graders.length; i += 1) { var grader = graders[i] ;%>
        <% if (user.grader && user.grader.username == grader.username) { %>
          <option value="<%-grader.username%>" selected="selected"><%-grader.username%></option>
        <% } else { %>
          <option value="<%-grader.username%>"><%-grader.username%></option>
        <% } %>
      <% } %>
    </select>
    <br>
    <span class="left boxy noselect" required>permission</span>
    <input type="text" class="right textboxy" name='user[permission]' value='<%-user.permission%>' required>
    <div class="clear"></div>
  </div>
    <button class="anotherbutton" id="submitUserEdit">
      Save
    </button>
  </form>
</div>
</div>